body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html,
body,
#root {
   margin:0;
   padding:0;
   height:100%;
}

li.hand {
  position: relative;
  width: 25%;
}

#container {
   min-height:100%;
   position:relative;

}

#main {
   padding:10px;
   padding-bottom:272px;   /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:-2px;
   width:100%;
   height:272px;   /* Height of the footer */
}

.tooltip {
  position: relative;
  height: 39px;
}

.tooltip:before {
  content: '';
  position: absolute;
  left: -11px;
  top: 15%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 20px 15px 0;
  border-color: transparent #E0E0E0 transparent transparent;
}

.poker-chip {
    margin-right: 40px;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    box-shadow: inset 0 0 1px 1px rgba(0,0,0, 0.1), 0 0 5px 1px rgba(90,90,90, 0.1), inset 0 35px 1px rgba(255,255,255, 0.2);
    -moz-box-shadow: inset 0 0 1px 1px rgba(0,0,0, 0.1), 0 0 5px 1px rgba(90,90,90, 0.1), inset 0 35px 1px rgba(255,255,255, 0.2);
    -webkit-box-shadow: inset 0 0 1px 1px rgba(0,0,0, 0.1), 0 0 5px 1px rgba(90,90,90, 0.1), inset 0 35px 1px rgba(255,255,255, 0.2);
    border: 10px dotted #fff;
}

.poker-chip div {
    font-family: Verdana;
    text-align: center;
    line-height: 70px;
    font-size: 1.7em;
}

.poker-chip.orange { background: #f7b55e }

.poker-chip.green { background: #92ed40 }

.poker-chip.blue { background: #4cc3fe }

.poker-chip.black {
    background: #333;
    color: #eee;
    box-shadow: inset 0 0 1px 1px rgba(0,0,0, 0.1), 0 0 5px 1px rgba(90,90,90, 0.1), inset 0 35px 1px rgba(255,255,255, 0.1);
    -moz-box-shadow: inset 0 0 1px 1px rgba(0,0,0, 0.1), 0 0 5px 1px rgba(90,90,90, 0.1), inset 0 35px 1px rgba(255,255,255, 0.1);
    -webkit-box-shadow: inset 0 0 1px 1px rgba(0,0,0, 0.1), 0 0 5px 1px rgba(90,90,90, 0.1), inset 0 35px 1px rgba(255,255,255, 0.1);
    border: 10px dotted #ccc;
}

@media(max-width: 767px) {
  li.hand {
    width: 53%;
  }
	.playing-card {
		width: 100px;
	}
  #snackbar-container {
    display: none;
  }
}

@media (max-width: 992px) and (min-width: 768px) {
	.playing-card {
		width: 180px;
	}
}

@media (max-width: 1199px) and (min-width: 993px) {
	.playing-card {
		width: 100px;
	}
}

@media (min-width: 1200px) {
	.playing-card {
		width: 100px;
	}
}

