body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html,
body,
#root {
   margin:0;
   padding:0;
   height:100%;
}

.attention-btn {
  animation-name: attention;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes attention {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

.bloat {
  animation-name: attention;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

li.hand {
  position: relative;
  width: 25%;
  transform: translateX(25%);
}

#chips { 
  padding-left: 13%;
}

#container {
   min-height: 100%;
   position: relative;

}

.glass {
  position: absolute;
  top: -20px;
  z-index: 100;
  box-shadow: inset 0 0 8px 1px rgba(50,50,50,.05); 
  background-color: rgba(100,200,200,.05);
}

.glass-hidden {
  display: none;
}

#main {
   padding: 10px;
   padding-bottom: 454px;   /* Height of the footer */
}

#secondary {
   position: absolute;
   bottom: -2px;
   width: 100%;
   height: 454px;   /* Height of the footer */
}

#player-hands {
  min-height: 255px;
}

.poker-chip {
    margin-right: 40px;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    box-shadow: inset 0 0 1px 1px rgba(0,0,0, 0.1), 0 0 5px 1px rgba(90,90,90, 0.1), inset 0 35px 1px rgba(255,255,255, 0.2);
    -moz-box-shadow: inset 0 0 1px 1px rgba(0,0,0, 0.1), 0 0 5px 1px rgba(90,90,90, 0.1), inset 0 35px 1px rgba(255,255,255, 0.2);
    -webkit-box-shadow: inset 0 0 1px 1px rgba(0,0,0, 0.1), 0 0 5px 1px rgba(90,90,90, 0.1), inset 0 35px 1px rgba(255,255,255, 0.2);
    border: 10px dotted #fff;
}

.poker-chip div {
    font-family: Verdana;
    text-align: center;
    line-height: 70px;
    font-size: 1.7em;
}

.poker-chip.orange { background: #f7b55e }

.poker-chip.green { background: #92ed40 }

.poker-chip.blue { background: #4cc3fe }

.poker-chip.black {
    background: #333;
    color: #eee;
    box-shadow: inset 0 0 1px 1px rgba(0,0,0, 0.1), 0 0 5px 1px rgba(90,90,90, 0.1), inset 0 35px 1px rgba(255,255,255, 0.1);
    -moz-box-shadow: inset 0 0 1px 1px rgba(0,0,0, 0.1), 0 0 5px 1px rgba(90,90,90, 0.1), inset 0 35px 1px rgba(255,255,255, 0.1);
    -webkit-box-shadow: inset 0 0 1px 1px rgba(0,0,0, 0.1), 0 0 5px 1px rgba(90,90,90, 0.1), inset 0 35px 1px rgba(255,255,255, 0.1);
    border: 10px dotted #ccc;
}

@media(max-width: 767px) {
  #main {
    min-height: 112px;
  }
  #chips { 
    padding-left: 17%;
  }
  li.hand {
    width: 53%;
    transform: translateX(15%);
  }
	.flipper {
		width: 60px;
    height: 87.125px;
	}
  #snackbar-container {
    display: none;
  }
}

@media (max-width: 992px) and (min-width: 768px) {
	.playing-card {
		width: 100px;
	}
  li.hand {
    width: 36%;
  }
}

@media (max-width: 1199px) and (min-width: 993px) {
	.playing-card {
		width: 100px;
	}
}

@media (min-width: 1200px) {
	.playing-card {
		width: 100px;
	}
}

